[user]
  name = yuga-t
  # email はマシン毎の ~/.gitconfig.local で設定する
  # [user]
  #   email = your@email.example

[core]
  editor = vim
  pager = delta
  quotepath = false

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true # use n and N to move between diff sections
  side-by-side = true
  features = Dracula

[merge]
  tool = vimdiff
  conflictstyle = zdiff3

[mergetool]
  keepBackup = false

[diff]
  colorMoved = default

[push]
  autoSetupRemote = true

[include]
  path = ~/.gitconfig.local
